@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
  --color-1: #2cff2e;
  --color-2: #94ff2c;
  --color-3: #feff2c;
  --color-4: #2cff97;
  --color-5: #313131;
  --font: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

body,
html {
  height: auto;
  min-height: 100%;
}

h1,
h2 {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 15px;
}
  
::-webkit-scrollbar-track {
  background-color: var(--color-4); 
  border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
  background: var(--color-2); 
  border-radius: 10px;
  height: 20px;
  cursor: pointer;
  outline: 1px solid slategray;
}

.dragging {
  opacity: 0.5;
  cursor: grabbing !important;
}
