.footer {
  padding: 20px 10px;
  text-align: center;
  background-color: var(--color-1);
  color: var(--color-3);
  text-shadow: 1px 1px 1px #000;
  font-size: 1.5rem;
  height: auto;
  min-height: 65px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer a {
  color: var(--color-3);
}