.footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  background-color: var(--color-1);
  color: var(--color-3);
  text-shadow: 1px 1px 1px #000;
  font-size: 1.5rem;
  height: 65px;
}

.footer a {
  color: var(--color-3);
}