.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  flex: 1;
  border: 2px solid var(--color-1);
  border-radius: 10px;
  background-color: var(--color-5);
  opacity: 0.9;
}

.column h2 {
  opacity: 1;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 1.5rem;
  color: var(--color-1);
  text-shadow: 1px 1px 1px var(--color-5);
  border-bottom: 1px solid var(--color-1);
}