.taskCard {
  border-radius: 10px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-1);
  padding: 10px;
  gap: 10px;
  justify-content: flex-start;
  background-color: var(--color-2);
}

.taskCard h3 {
  text-transform: uppercase;
  margin: -10px 0 0 0;
  text-align: center;
}

.editIcon{
  align-self: flex-end;
  color: var(--color-5);
  cursor: pointer;
}

.taskCard p {
  text-align: center;
  width: 90%;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}

.taskCard button {
  border-radius: 10px;
  width: 70%;
  height: 30px;
  cursor: pointer;
  background-color: var(--color-1);
  border: 2px solid var(--color-5);
}

.dragIcon {
  cursor: grab;
  width: 20px;
  height: 20px;
  align-self: flex-end;
  position: relative;
  color: var(--color-5);
}

.dragIcon:hover {
  animation: grabbingAnimation 0.5s infinite alternate;
}

.assignDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.assignDiv div {
  width: 60%;
  height: auto;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.assignDiv button {
  height: 40px;
  width: 60%;
}

.deleteAssing {
  color: var(--color-5);
  font-size: 20px;
  min-height: 10px;
  cursor: pointer;
}

.assingn {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.assignMenu {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.assignMenu h4 {
  text-align: center;
}

.assingSelect {
  width: 100%;
  height: 50px;
  border: 2px solid var(--color-1);
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  color: var(--color-1);
  text-shadow: 1px 1px 1px var(--color-5);
  cursor: pointer;
}

.assingSelect option {
  color: var(--color-5)
}

.assignMenu button {
  width: 100%;
  height: auto;
  padding: 5px;
}

@keyframes grabbingAnimation {
  0% {
    cursor: grabbing;
  }

  100% {
    cursor: grab;
  }

}

.editTitle,
.editDescription {
  width: 100%;
  border: 2px solid var(--color-1);
  border-radius: 10px;
  padding: 10px;
  color: var(--color-5);
}

.editTitle {
  font-size: 1rem;
  height: 40px;
  font-weight: bold;
}

.editDescription {
  font-size: 0.8rem;
  height: 50px;
}