.taskCard {
  border-radius: 10px;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-1);
  padding: 10px;
  gap: 10px;
  justify-content: flex-start;
  background-color: var(--color-2);
}

.taskCard h3 {
  text-transform: uppercase;
  margin: -10px 0 0 0;
  text-align: center;
}

.taskCard p {
  text-align: center;
  width: 90%;
  font-size: 0.8rem;
  overflow-wrap: break-word;
}

.taskCard button {
  border-radius: 10px;
  width: 70%;
  height: 30px;
  cursor: pointer;
  background-color: var(--color-1);
  border: 2px solid var(--color-5);
}

.dragIcon {
  cursor: grab;
  width: 20px;
  height: 20px;
  align-self: flex-end;
  position: relative;
  color: var(--color-5);
}

.dragIcon:hover {
  animation: grabbingAnimation 0.5s infinite alternate;
}

.assignDiv {
  width: 100%;
  display: flex;
}

.assignDiv button,
.assignDiv div {
  width: 50%;
  height: auto;
}

@keyframes grabbingAnimation {
  0% {
    cursor: grabbing;
  }

  100% {
    cursor: grab;
  }

}

