.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100%;
  padding: 100px 5px 30px 5px;
  background-image: url('../../assets/images/stacked-steps-haikei.svg');
  background-repeat: repeat;
  background-size: cover;
  gap: 20px;
}