.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  min-height: 100%;
  padding: 100px 5px 30px 5px;
  background-image: url('../../assets/images/stacked-steps-haikei.svg');
  background-repeat: repeat;
  background-size: cover;
  gap: 20px;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--color-5);
  text-shadow: 2px 2px 1px var(--color-1);
}

.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: max(40%, 400px);
  border: 2px solid var(--color-1);
  border-radius: 10px;
  background-color: var(--color-5);
  opacity: 0.9;
  padding: 20px 5px;
  height: max(20vh, 200px);
  color: var(--color-1);
}

.userContainer button {
  font-size: 1rem;
  width: 30%;
  height: auto;
  cursor: pointer;
  background-color: var(--color-1);
  color: var(--color-3);
  text-shadow: 1px 1px 1px var(--color-5);
  border: 2px solid var(--color-5);
  border-radius: 10px;
  padding: 5px;
}